<div class="footerContainer">
  <div class="footerUpper">
    <div class="footerLeftNav footerNav">
      <div class="footerItems font-code-l">
        <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('hub')" class="headerLink headerHub">SUBREDDIT</a></div>
        <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('chronicle')" class="headerLink headerChronicle">DISCORD SERVER</a></div>
        <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('codex')" class="headerLink headerCodex">EMAIL</a></div>
      </div>
    </div>
    <div class="footerCenter">
      <div class="footerTitle">
        <h1 class="navTitle">UNTURNED <strong>STONES</strong></h1>
        <p class="navDesc font-code highlight-color">a world defined by the technology of your future</p>
      </div>
      <div class="footerHR highlight-bg"></div>
    </div>
    <div class="footerRightNav footerNav">
      <div class="footerItems font-code-l right">
        <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('hub')" class="headerLink headerHub">HUB</a></div>
        <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('chronicle')" class="headerLink headerChronicle">CHRONICLE</a></div>
        <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('codex')" class="headerLink headerCodex">CODEX</a></div>
        <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('terminal')" class="headerLink headerTerminal">TERMINAL</a></div>
        <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('about')" class="headerLink headerAbout">ABOUT</a></div>
      </div>
    </div>
  </div>
  <div class="footerLower font-code">
    <div class="footerQuote">> THE FUTURE IS CLOSER THAN YOU THINK<span class="blinkingScore">_</span></div>
    <div class="footerLogo menuBarLogo spinning-logo-d1"></div>
    <div class="footerCopyright">COPYRIGHT <span class="highlight-color">© 2018</span> VALENTIN SIGALOV</div>
  </div>
</div>