<div class="header">
  <div class="headerTitle font-code-l">
    <a href="/" class="headerLink headerHub">UNTURNED STONES</a>
  </div>

  <div class="headerItems font-code-l">
    <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('hub')" class="headerLink headerHub">HUB</a></div>
    <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('chronicle')" class="headerLink headerChronicle">CHRONICLE</a></div>
    <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('codex')" class="headerLink headerCodex">CODEX</a></div>
    <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('terminal')" class="headerLink headerTerminal">TERMINAL</a></div>
    <div class="headerRightItem"><a href="javascript:void(0)" onclick="navigateSection('about')" class="headerLink headerAbout">ABOUT</a></div>
  </div>
</div>