<!-- Upper Nav Section -->
<div class="navChild center navTitleContainer">

  <!-- Nav Title Section -->
  <a class="divLink" href="/">
  <div class="navTitleSection nav_color_bg_home">
    <h1 class="navTitle">UNTURNED <strong>STONES</strong></h1>
    <p class="navDesc font-code nav_color">a world defined by the technology of your future</p>
  </div>
  </a>

  <!-- Nav Tabs -->
  <div class="navTabs">
    <div class="navTab">
      <a href="#" class="navTabCircle nav_hub" id="nav_hub" onclick="navClick('hub')"><img src='{% link assets/images/nav/nav_home.png %}' class="navTabImage" /></a>
    </div>
    <div class="navTab">
      <a href="#" class="navTabCircle nav_chronicle" id="nav_chronicle" onclick="navClick('chronicle')"><img src='{% link assets/images/nav/nav_chronicle_color.png %}' class="navTabImage" /></a>
    </div>
    <div class="navTab">
      <a href="#" class="navTabCircle nav_codex" id="nav_codex" onclick="navClick('codex')"><img src='{% link assets/images/nav/nav_codex_color.png %}' class="navTabImage" /></a>
    </div>
    <div class="navTab">
      <a href="#" class="navTabCircle nav_terminal" id="nav_terminal" onclick="navClick('terminal')"><img src='{% link assets/images/nav/nav_terminal_color.png %}' class="navTabImage" /></a>
    </div>
    <div class="navTab">
      <a href="#" class="navTabCircle nav_about" id="nav_about" onclick="navClick('about')"><img src='{% link assets/images/nav/nav_about.png %}' class="navTabImage" /></a>
    </div>
  </div>

  <!-- Nav Seperator Bar Line -->
  <div class="navSectionBarContainer">
    <div class="navSectionBarLine nav_color_bg"></div>
    <div class="navSectionBarText nav_color nav_sectionTitle" id="nav_sectionTitle">HUB</div>
    <div class="navSectionBarLine nav_color_bg"></div>
  </div>

  <!-- Nav Description -->
  <div class="navSectionDescriptionContainer">
    <p class="nav_sectionDescription" id="nav_sectionDescription">Description here.</p>
  </div>

  <!--<div class="navBackButton" id="navBackButton">
    <p class="font-code nav_color"><< BACK</p>
  </div>-->

</div>

<!-- Nav Main Section -->
<div class="navChild navScrollable utsScrollBar" id="navScrollable">
  No navigation items!
</div>

<!-- Nav Terminal Section -->
<div class="navChild navTerminal" id='navTerminal'>
  <div class="utsTerminal navTerminalChild utsScrollBar">
    
  </div>
</div>