---
---

@import "brand";

// Collection search header
.col-header-container {
  border-bottom: 1px solid white;
  background-image: url(../images/collection/gradient-bg-collection.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  .col-header-inner-container {
    height: calc(100vh - 79px);

    max-width: 1800px;
    margin: 0 auto;
    position: relative;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-tablet) {
      height: calc(100vh - 60px);
    }

    .col-breadcrumbs {
      position: absolute;
      top: 4rem;
      left: 4rem;

      @media (max-width: $screen-tablet) {
        top: 2rem;
        left: calc(50%);
        transform: translateX(-50%);
        width: 90%;
        margin: 0 auto;
      } 
    }

    .col-centerpiece {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: $screen-tablet) {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 10%;
      }
      .col-centerpiece-svg {
        transform: scale(1.2);
        @media (max-width: $screen-tablet) {
          transform: scale(0.9);
        }
        @media (max-width: $screen-micro) {
          transform: scale(0.7);
        }
      }
      .col-centerpiece-title {
        h1 {
          text-transform: uppercase;
          font-size: $font-size-large-title;
          font-weight: 700;
          margin-bottom: 0.4rem;
          @media (max-width: $screen-tablet) {
            font-size: 2.4rem;
          }
        }
      }
      .col-centerpiece-quote {
        p {
          font-size: $font-size-medium-title;
          font-weight: 600;
          font-family: $font-title-2;
          text-align: center;
          @media (max-width: $screen-tablet) {
            font-size: 1rem;
          }
          span {
            color: #f0f;
            font-weight: 800;
          }
        }
      }
    }

    .col-search {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);

      width: 800px;

      @media (max-width: $screen-mobile) {
        width: 90%;
        position: relative;
        bottom: auto;
        left: auto;
        transform: inherit;
        margin-top: 10%;
      }

      .col-search-dialog {
        border: 2px solid white;
        border-radius: 5px;
        .col-search-top {
          background: white;
          .col-search-title {
            h2 {
              color: #111;
              margin: 0;
              padding: 8px;
              padding-left: 15px;
              user-select: none;
            }
          }
        }
        .col-search-main {
          padding: 20px;

          display: flex;
          flex-direction: row;

          .col-search-icon {

          }

          .col-search-consoleTag {
            span {
              font-family: $font-code;
              font-size: 26px;
              line-height: 32px;
              font-weight: bold;
              text-align: left;

              color: #ff00ff;
              letter-spacing: 4px;
              padding-right: 6px;
              user-select: none;
            }
          }


          input {
            border: none;
            color: transparent;
            display: inline-block;
            font-size: 2em;
            text-shadow: 0 0 0 gray;
            width: 2em;
            margin-right: 10px;
            
            &:focus {
              outline: none;
              & ~ div.search-input__caret {
                background-color: #f0f;
              }
            }
          }
          .search-input {
            float: left;
            width: 100%;
            position: relative;
            z-index: 3;
          }
          .search-input input, .search-input__ghost, .search-input__caret-container {
            font-family: $font-mono;
            font-size: 26px;
            line-height: 20px;
            font-weight: bold;
            text-align: left;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
          .search-input input, .search-input__caret-container {
            border: 0px;
            padding: 0px;
            background: transparent;
            height: 32px;
            width: 100%;
            outline: none;
            margin-bottom: 0px;
            position: relative;
            color: transparent;
            text-shadow: 0 0 0 white; 
            white-space: pre-wrap;
          }
          .search-input__caret-container {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            -webkit-opacity: 0;
          }
          .search-input__ghost {
            display: inline-block;
          }
          .search-input__caret {
            width: 10px;
            height: 4px;
            margin-left: 2px;
            background: white;
            position: absolute;
            left: 0px;
            bottom: 0px;
            animation: score-opacity 1s infinite;
          }
          .search-input input {
            white-space: pre-wrap;
            &:focus {
              background-color: rgba(255, 0, 255,0.1);
            }
          }
        }
      }
    }

    div.col-lines {
      div.col-lines-main {
        position: absolute;
        bottom: 0;
        right: 5%;
        border-right: 2px solid white;
        border-top: 2px solid white;
        left: calc(50% + 560px);
        height: calc(10% + 54px);

        @media (max-width: $screen-tablet) {
          left: 50%;
          right: auto;
          transform: translateX(-50%);
          height: 50px;
          border-top: none;
        }
      }

      div.col-lines-arrow {
        position: absolute;
        bottom: calc(10% + 54px - 11px);
        height: 20px;
        width: 20px;
        border-right: 2px solid white;
        border-top: 2px solid white;
        transform: rotate(45deg);

        &.col-lines-arrow-1 {
          left: calc(50% + 540px);
          @media (max-width: $screen-tablet) {
            left: 50%;
            bottom: 61px;
            transform: rotate(135deg) translate(69%);
          }
        }
        &.col-lines-arrow-2 {
          left: calc(50% + 530px);
          @media (max-width: $screen-tablet) {
            left: 50%;
            bottom: 71px;
            transform: rotate(135deg) translate(69%);
          }
        }
      }
    }
  }
}

// Collection search results
#search-container {
  ul {
    .col-item {
      .col-item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        max-width: 1800px;
        margin: 0 auto;
        @media (max-width: $screen-tablet) {
          flex-direction: column-reverse;
        }


        .col-item-content {
          display: flex;
          flex-direction: row;
          margin-left: 60px;
          margin-top: 40px;
          margin-bottom: 40px;
          @media (max-width: $screen-tablet) {
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            margin-top: 120px;
            margin-bottom: 100px;
          }
          .col-item-content-imagesection {
            display: flex;
            flex-direction: column;
            margin: 30px;
            .col-item-content-eyebrow {
              font-family: $font-code;
              text-transform: uppercase;
              font-size: $font-size-tiny-code;
              letter-spacing: 0.15rem;
              margin-left: 10px;
            }
            .col-item-content-frame {
              position: relative;
              @media (max-width: $screen-tablet) {
                max-width: 387px;
              } 
              .col-item-content-frame-border {
                border-width: 2px;
                border-style: solid;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                $col-image-frame-margin: 10px;
                &.frame-border-left {
                  margin-left: $col-image-frame-margin;
                  margin-bottom: $col-image-frame-margin;
                }
                &.frame-border-right {
                  margin-right: $col-image-frame-margin;
                  margin-top: $col-image-frame-margin;
                }
              }
              img {
                padding: 10px;
                @media (max-width: $screen-tablet) {
                  max-width: 100%;
                }
              }
            }
          }
          .col-item-content-textsection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 600px;
            margin-left: 70px;
            @media (max-width: $screen-micro) {
              max-width: 90%;
              margin: 0 auto;
            }
            .col-item-content-title {
              h3 {
                margin-bottom: 2px;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: relative;
                font-size: 36px;
                letter-spacing: -0.05rem;
                font-weight: 800;
                @media (max-width: $screen-tablet) {
                  text-align: center;
                }

                &::after {
                  background: none;
                  content: attr(data-text);
                  left: 0;
                  position: absolute;
                  text-shadow: -2px -2px 0px #fff;
                  top: 0;
                  z-index: 2;
                  user-select: none;
                  @media (max-width: $screen-tablet) {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                  }
                }
              }
            }
            .col-item-content-tags {
              margin-top: 5px;
              margin-bottom: 20px;
              @media (max-width: $screen-tablet) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
              }
              a.col-item-content-tag {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                padding-bottom: 5px;
                margin-right: 10px;

                font-family: $font-code;
                text-transform: uppercase;
                font-size: $font-size-tiny-code;
                letter-spacing: 0.15rem;

                text-decoration: none;

                &:hover, &:focus {
                  border-bottom-width: 2px;
                }
                &:last-of-type {
                  margin-right: 0;
                }
              }
            }
            .col-item-content-excerpt {
              p {
                &.emphasized {
                  font-style: italic;
                }
              }
            }
            a.col-item-content-button {
              border: 2px solid white;
              border-radius: 5px;
              padding: 20px;
              padding-left: 25px;
              max-width: 325px;
              display: block;

              font-family: $font-code;
              text-transform: uppercase;
              font-size: 0.95rem;
              letter-spacing: 0.18rem;

              display: flex;
              justify-content: flex-start;
              align-items: center;

              .col-item-content-button-arrow {
                flex-grow: 1;
                text-align: right;
                padding-right: 10px;
              }
            }
          }
        }
        .col-item-timeline {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          pointer-events: none;
          display: flex;
          align-items: center;
          justify-content: flex-end;


          @media (max-width: $screen-tablet) {
            justify-content: center;
            align-items: baseline;
          }
          .col-item-timeline-top-line {
            position: absolute;
            right: 5%;
            bottom: calc(50% + 22px);
            top: 0;
            border-right: 2px solid white;

            @media (max-width: $screen-tablet) {
              left: 50%;
              transform: translateX(-50%);
              height: 51px;
              right: auto;
              bottom: auto;
            }
          }
          .col-item-timeline-bottom-line {
            position: absolute;
            right: 5%;
            top: calc(50% + 22px);
            bottom: 0;
            border-right: 2px solid white;

            @media (max-width: $screen-tablet) {
              left: 50%;
              transform: translateX(-50%);
              height: 51px;
              right: auto;
              top: auto;
            }
          }
          .col-item-timeline-brackets {
            position: absolute;
            right: calc(5% - 30px);
            top: calc(50% - 30px);
            height: 60px;
            width: 60px;

            @media (max-width: $screen-tablet) {
              display: none;
            }

            $bracket-border-width: 3px;
            .col-item-timeline-left-bracket {
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              width: 12px;

              border-left-style: solid;
              border-left-width: $bracket-border-width;
              border-top-style: solid;
              border-top-width: $bracket-border-width;
              border-bottom-style: solid;
              border-bottom-width: $bracket-border-width;

              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }
            .col-item-timeline-right-bracket {
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              width: 12px;

              border-right-style: solid;
              border-right-width: $bracket-border-width;
              border-top-style: solid;
              border-top-width: $bracket-border-width;
              border-bottom-style: solid;
              border-bottom-width: $bracket-border-width;

              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
            .col-item-timeline-bracket-point {
              border: 3px solid white;
              border-radius: 50%;
              width: 20px;
              height: 20px;

              position: absolute;
              left: calc(50% - 10px);
              top: calc(50% - 10px);
            }
          }
          .col-item-timeline-text {
            margin-right: calc(5% + 50px);

            font-family: $font-code;
            text-transform: uppercase;
            font-size: 0.95rem;
            letter-spacing: 0.18rem;

            @media (max-width: $screen-tablet) {
              margin-right: 0;
              margin-top: 50px;
              border: 2px solid white;
              padding: 15px;
            }
          }
        }
      }
    }
  }
}