<!-- Collection page -->
<div class="col-header-container">
  <div class="col-header-inner-container">
    <!-- Breadcrumbs at top of page. -->
    <div class="col-breadcrumbs">
        <p id="" class="codexTextProcess font-code" style="color: #ff00ff;"><span class="breadcrumbDivider font-code"> : </span><a href="/" class="breadcrumbElement font-code" style="color:rgb(255, 0, 255);">morning artifice</a><span class="breadcrumbDivider font-code"> : </span><a href="javascript:void(0)" onclick="navigateSidenav(&quot;technology&quot;, &quot;codex&quot;)" class="breadcrumbElement font-code" style="color:rgb(255, 255, 255);">collection</a></p>
    </div>
    <!-- Title, main SVG, etc. -->
    <div class="col-centerpiece">
        <div class="col-centerpiece-svg">
          <svg 
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             width="362.5px" height="152.5px">
            <defs>
            <linearGradient id="PSgrad_0" x1="81.915%" x2="0%" y1="0%" y2="57.358%">
              <stop offset="0%" stop-color="rgb(255,0,255)" stop-opacity="1" />
              <stop offset="100%" stop-color="rgb(0,255,255)" stop-opacity="1" />
            </linearGradient>

            <linearGradient id="ma-col-gradient" gradientUnits="userSpaceOnUse" x1="80%" y1="0%" x2="0%" y2="60%">
              <stop offset="0%" stop-color="rgb(0,255,255)">
                <animate attributeName="stop-color" values="rgb(0,255,255); #ad20ff; rgb(0,255,255)" dur="15s" repeatCount="indefinite"></animate>
              </stop>
              <stop offset="100%" stop-color="rgb(255,0,255)">
                <animate attributeName="stop-color" values="rgb(255,0,255); #ff2273; rgb(255,0,255)" dur="15s" repeatCount="indefinite"></animate>
              </stop>
            </linearGradient>

            </defs>
            <path fill-rule="evenodd"  fill="url(#ma-col-gradient)"
             d="M125.973,18.004 L234.027,18.004 L180.000,111.581 L125.973,18.004 ZM151.398,73.880 C143.037,88.400 135.500,101.491 135.500,101.491 L97.503,35.502 L129.500,35.502 C129.500,35.502 139.936,54.059 151.398,73.880 ZM262.497,35.502 L224.434,101.491 C224.434,101.491 216.883,88.400 208.508,73.880 C219.990,54.059 230.444,35.502 230.444,35.502 L262.497,35.502 Z"/>
            <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
             d="M357.500,30.500 L327.500,82.500 "/>
            <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
             d="M347.500,30.500 L317.500,82.500 "/>
            <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
             d="M29.500,57.500 L74.500,57.500 "/>
            <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
             d="M286.500,57.500 L331.500,57.500 "/>
            <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
             d="M149.941,96.363 C166.283,124.668 180.002,147.993 180.002,147.993 L264.001,2.994 L96.091,3.091 C96.091,3.091 100.447,10.637 107.174,22.289 "/>
            <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
             d="M3.500,30.500 L33.294,82.500 "/>
            <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
             d="M13.500,30.500 L43.294,82.500 "/>
          </svg>
        </div>
        <div class="col-centerpiece-title">
            <h1>The Collection</h1>
        </div>
        <div class="col-centerpiece-quote">
            <p>
                A series of exhibitions (blog posts) detailing the world of <span>Morning Artifice</span>.
            </p>
        </div>
    </div>
    <!-- Search dialog. -->
    <div class="col-search searchFocus">
        <div class="col-search-dialog">
            <div class="col-search-top">
                <div class="col-search-title">
                    <h2 class="font-code">Filter Query</h2>
                </div>
                <div class="col-search-close">
                  <a href="javascript:void(0);" class="font-code colSearchReset">reset</a>
                </div>
            </div>
            <div class="col-search-main">
              <div class="col-search-consoleTag"><span>//></span></div>
              <div class="search-input">
                  <input type="text" id="search-input" spellcheck="false">
              </div>
              <div class="col-search-icon">
                <svg 
                   xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink"
                   width="36px" height="37px">
                  <path fill-rule="evenodd"  stroke="rgb(255, 0, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                   d="M14.000,4.000 C19.523,4.000 24.000,8.477 24.000,14.000 C24.000,19.523 19.523,24.000 14.000,24.000 C8.477,24.000 4.000,19.523 4.000,14.000 C4.000,8.477 8.477,4.000 14.000,4.000 Z"/>
                  <path fill-rule="evenodd"  stroke="rgb(255, 0, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                   d="M21.000,22.000 L30.000,31.000 "/>
                </svg>
              </div>
            </div>
        </div>
    </div>
    <!-- Lines/arrows on the right of the screen. -->
    <div class="col-lines">
        <div class="col-lines-main"></div>
        <div class="col-lines-arrow col-lines-arrow-1"></div>
        <div class="col-lines-arrow col-lines-arrow-2"></div>
    </div>
  </div>
</div>
<div id="search-container">
  <div class="search-container-searchtext">
      <p class="font-code">Showing all exhibitions</p>
    </div>
  <ul id="results-container">
  </ul>
  <ul id="full-container">
    {% assign sorted = (paginator.posts | sort: 'date') | reverse %}

    {% for pageItem in sorted %}
      {% if pageItem.isSearchable == true and pageItem.isCollectionExhibit == true %}

        {% if pageItem.exhibitType == "codex" %}

          <li class="col-item full-result codex">
            <div class="col-item-container" style="background-image: url({{ pageItem.backgroundImage }});"
                data-parallax-type="b" 
                data-parallax-speed="-0.2" 
                data-parallax-offset="60%">
              <div class="col-item-content">
                <div class="col-item-content-imagesection">
                  <div class="col-item-content-eyebrow" style="color: {{ pageItem.page_highlight }};">{{ pageItem.eyebrow }}</div>
                  <div class="col-item-content-frame" style="border-color: {{ pageItem.page_highlight }};">
                    <img src="{{ pageItem.image }}" />
                    <div class="frame-border-full" style="border-color: {{ pageItem.page_highlight }};"></div>
                    <div class="col-item-content-frame-border frame-border-left" style="border-color: {{ pageItem.page_highlight }};"></div>
                    <div class="col-item-content-frame-border frame-border-bottom" style="border-color: {{ pageItem.page_highlight }};"></div>
                  </div>
                </div>
                <div class="col-item-content-textsection">
                  <div class="col-item-content-title"><h3 data-text="{{ pageItem.title }}" style="background-image: -webkit-linear-gradient({{ pageItem.page_highlight }}, {% if pageItem.page_highlight_2 %} {{ pageItem.page_highlight_2 }} {% else %} {{ pageItem.page_highlight }} {% endif %});">{{ pageItem.title }}</h3></div>
                  <div class="col-item-content-tags">
                    <a href="javascript:void(0);" class="col-item-content-tag-type colTag" style="color: {{ pageItem.page_highlight }}; border-color: {{ pageItem.page_highlight }};" data-col-tag="codex">
                      
                      <svg 
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink"
                       width="21px" height="22px">
                      <path fill-rule="evenodd"  stroke="{{ pageItem.page_highlight }}" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                       d="M18.000,19.000 L18.000,6.000 L14.000,2.000 L2.000,2.000 L2.000,17.000 L4.000,19.000 L18.000,19.000 Z"/>
                      <path fill-rule="evenodd"  stroke="{{ pageItem.page_highlight }}" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                       d="M13.000,2.000 L13.000,8.000 L18.000,8.000 "/>
                      <path fill-rule="evenodd"  stroke="{{ pageItem.page_highlight }}" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                       d="M5.000,12.000 L10.000,12.000 "/>
                      <path fill-rule="evenodd"  stroke="{{ pageItem.page_highlight }}" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                       d="M5.000,15.000 L10.000,15.000 "/>
                      </svg>

                      <span>CODEX ENTRY</span>

                    </a>
                    {% for tagItem in pageItem.tags %}
                      <a href="javascript:void(0);" class="col-item-content-tag colTag" style="color: {{ pageItem.page_highlight }}; border-color: {{ pageItem.page_highlight }};" data-col-tag="{{ tagItem }}">{{ tagItem }}</a>
                    {% endfor %}
                  </div>
                  <div class="col-item-content-excerpt">{{ pageItem.searchExcerpt }}</div>
                  <a href="{{ pageItem.baseurl }}{{ pageItem.url }}" class="col-item-content-button" style="color: {{ pageItem.page_highlight }}; border-color: {{ pageItem.page_highlight }};"><span>View More</span>
                    <div class="col-item-content-button-arrow">
                      <svg width="10px" height="10px" xml:space="preserve" _v-978818ec=""> <polygon fill="{{ pageItem.page_highlight }}" points="3.6,5 0,1.4 1.4,0 5,3.6 6.4,5 5,6.4 1.4,10 0,8.6 " _v-978818ec=""></polygon></svg>
                    </div>
                      </a>
                </div>
              </div>
              <div class="col-item-timeline">
                <div class="col-item-timeline-top-line"></div>
                <div class="col-item-timeline-bottom-line"></div>
                <div class="col-item-timeline-brackets">
                  <div class="col-item-timeline-left-bracket" style="border-color: {{ pageItem.page_highlight }};"></div>
                  <div class="col-item-timeline-right-bracket" style="border-color: {{ pageItem.page_highlight }};"></div>
                  <div class="col-item-timeline-bracket-point"></div>
                </div>
                <div class="col-item-timeline-text"><span style="color: {{ pageItem.page_highlight }};">{{ pageItem.date | date: "%B %d" }}, </span>{{ pageItem.date | date: "%Y" }}</div>
              </div>
            </div>
          </li>

          {% elsif pageItem.exhibitType == "experience" %}

            experience

          {% elsif pageItem.exhibitType == "visual" %}

            <li class="col-item full-result visual">
            <div class="col-item-container" style="background-image: url({{ pageItem.backgroundImage }});"
                data-parallax-type="b" 
                data-parallax-speed="-0.2" 
                data-parallax-offset="60%">
              <div class="col-item-content">
                <div class="col-item-content-title"><h3 data-text="{{ pageItem.title }}" style="background-image: -webkit-linear-gradient({{ pageItem.page_highlight }}, {% if pageItem.page_highlight_2 %} {{ pageItem.page_highlight_2 }} {% else %} {{ pageItem.page_highlight }} {% endif %});">{{ pageItem.title }}</h3></div>
                  <div class="col-item-content-tags">
                    <a href="javascript:void(0);" class="col-item-content-tag-type colTag" style="color: {{ pageItem.page_highlight }}; border-color: {{ pageItem.page_highlight }};" data-col-tag="visual">

                      <svg 
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink"
                       width="29px" height="24px">
                      <path fill-rule="evenodd"  stroke="{{ pageItem.page_highlight }}" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                       d="M8.000,2.875 C9.726,2.875 11.125,4.274 11.125,6.000 C11.125,7.726 9.726,9.125 8.000,9.125 C6.274,9.125 4.875,7.726 4.875,6.000 C4.875,4.274 6.274,2.875 8.000,2.875 Z"/>
                      <path fill-rule="evenodd"  stroke="{{ pageItem.page_highlight }}" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                       d="M2.000,21.000 L9.000,14.000 L13.000,18.000 "/>
                      <path fill-rule="evenodd"  stroke="{{ pageItem.page_highlight }}" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                       d="M11.000,21.000 L22.000,10.000 L26.000,14.000 "/>
                      </svg>

                      <span>VISUAL POST</span>

                    </a>
                    {% for tagItem in pageItem.tags %}
                      <a href="javascript:void(0);" class="col-item-content-tag colTag" style="color: {{ pageItem.page_highlight }}; border-color: {{ pageItem.page_highlight }};" data-col-tag="{{ tagItem }}">{{ tagItem }}</a>
                    {% endfor %}
                  </div>

                <div class="col-item-content-imagesection">
                  <div class="col-item-content-eyebrow" style="color: {{ pageItem.page_highlight }};">{{ pageItem.eyebrow }}</div>
                  <div class="col-item-content-frame" style="border-color: {{ pageItem.page_highlight }};">
                    <img src="{{ pageItem.image }}" />
                    <div class="frame-border-full" style="border-color: {{ pageItem.page_highlight }};"></div>
                    <div class="col-item-content-frame-border frame-border-left" style="border-color: {{ pageItem.page_highlight }};"></div>
                    <div class="col-item-content-frame-border frame-border-bottom" style="border-color: {{ pageItem.page_highlight }};"></div>
                  </div>
                </div>
                <div class="col-item-content-textsection">
                  <div class="col-item-content-excerpt">{{ pageItem.searchExcerpt }}</div>
                  <a href="{{ pageItem.baseurl }}{{ pageItem.url }}" class="col-item-content-button" style="color: {{ pageItem.page_highlight }}; border-color: {{ pageItem.page_highlight }};"><span>View More</span>
                    <div class="col-item-content-button-arrow">
                      <svg width="10px" height="10px" xml:space="preserve" _v-978818ec=""> <polygon fill="{{ pageItem.page_highlight }}" points="3.6,5 0,1.4 1.4,0 5,3.6 6.4,5 5,6.4 1.4,10 0,8.6 " _v-978818ec=""></polygon></svg>
                    </div>
                      </a>
                </div>
              </div>
              <div class="col-item-timeline">
                <div class="col-item-timeline-top-line"></div>
                <div class="col-item-timeline-bottom-line"></div>
                <div class="col-item-timeline-brackets">
                  <div class="col-item-timeline-left-bracket" style="border-color: {{ pageItem.page_highlight }};"></div>
                  <div class="col-item-timeline-right-bracket" style="border-color: {{ pageItem.page_highlight }};"></div>
                  <div class="col-item-timeline-bracket-point"></div>
                </div>
                <div class="col-item-timeline-text"><span style="color: {{ pageItem.page_highlight }};">{{ pageItem.date | date: "%B %d" }}, </span>{{ pageItem.date | date: "%Y" }}</div>
              </div>
            </div>
          </li>

          {% elsif pageItem.exhibitType == "news" %}

            news

        {% endif %}

      {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>