<div class="homeContent">
  <div class="homeContentContainer">

    <!-- Streakers: animated, randomized spaceships going across screen -->
    <div class="hcdStreakerContainer">

      <div class="hcdStreaker parallax_content_ns4 streaker_sp streaker_sp1">
        <div class="hcdStreakerMover">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp1_1" data-second-streaker="streaker_sp1_2"></div>
        </div>
      </div>

      <div class="hcdStreaker parallax_content_ns5 streaker_sp streaker_sp2">
        <div class="hcdStreakerMover">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp2_1" data-second-streaker="streaker_sp2_2"></div>
        </div>
      </div>

      <div class="hcdStreaker parallax_content_ns6 streaker_sp streaker_sp3">
        <div class="hcdStreakerMover">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp3_1" data-second-streaker="streaker_sp3_2"></div>
        </div>
      </div>

      <div class="hcdStreaker parallax_content_ns4 streaker_sp streaker_sp4">
        <div class="hcdStreakerMover">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp4_1" data-second-streaker="streaker_sp4_2"></div>
        </div>
      </div>

      <div class="hcdStreaker parallax_content_ns5 streaker_sp streaker_sp5">
        <div class="hcdStreakerMover">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp5_1" data-second-streaker="streaker_sp5_2"></div>
        </div>
      </div>

      <div class="hcdStreaker parallax_content_ns6 streaker_sp streaker_sp6">
        <div class="hcdStreakerMover">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp6_1" data-second-streaker="streaker_sp6_2"></div>
        </div>
      </div>



      <div class="hcdStreaker hcdStreakerR parallax_content_ns4 streaker_spr streaker_sp1">
        <div class="hcdStreakerMover streakerMoverR">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp1_1" data-second-streaker="streaker_sp1_2"></div>
        </div>
      </div>

      <div class="hcdStreaker hcdStreakerR parallax_content_ns5 streaker_spr streaker_sp2">
        <div class="hcdStreakerMover streakerMoverR">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp2_1" data-second-streaker="streaker_sp2_2"></div>
        </div>
      </div>

      <div class="hcdStreaker hcdStreakerR parallax_content_ns6 streaker_spr streaker_sp3">
        <div class="hcdStreakerMover streakerMoverR">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp3_1" data-second-streaker="streaker_sp3_2"></div>
        </div>
      </div>

      <div class="hcdStreaker hcdStreakerR parallax_content_ns4 streaker_spr streaker_sp4">
        <div class="hcdStreakerMover streakerMoverR">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp4_1" data-second-streaker="streaker_sp4_2"></div>
        </div>
      </div>

      <div class="hcdStreaker hcdStreakerR parallax_content_ns5 streaker_spr streaker_sp5">
        <div class="hcdStreakerMover streakerMoverR">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp5_1" data-second-streaker="streaker_sp5_2"></div>
        </div>
      </div>

      <div class="hcdStreaker hcdStreakerR parallax_content_ns6 streaker_spr streaker_sp6">
        <div class="hcdStreakerMover streakerMoverR">
          <div class="hcdStreakerImage" data-first-streaker="streaker_sp6_1" data-second-streaker="streaker_sp6_2"></div>
        </div>
      </div>
    </div>

    <div class="homeContentBGWrapper parallax homeBG-stars"
    data-parallax-type="b" 
    data-parallax-speed="-0.5" 
    data-parallax-offset="50%">
    <div class="homeContentBGWrapper parallax homeBG-codeIntro"
    data-parallax-type="b" 
    data-parallax-speed="-0.4" 
    data-parallax-offset="50%">
    <div class="homeContentSpacing homeContentCode">
      <div class="homeContentParas scrollCheck fadeInCodeParas">
        <div class="ma-para-1-bg">
          <div class="ma-para-1-img">
            <svg 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="246px" height="145px">
            <defs>
              <linearGradient id="ma-para-1-gradient" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="100%" y2="100%">
                <stop offset="-10%" stop-color="rgb(255,0,255)" stop-opacity="1" />
                <stop offset="110%" stop-color="rgb(0,255,255)" stop-opacity="1" />
              </linearGradient>
            </defs>

            <g stroke="url(#ma-para-1-gradient)">
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M232.915,3.727 C237.529,3.727 241.269,7.474 241.269,12.095 L241.269,131.765 C241.269,136.387 237.529,140.134 232.915,140.134 L12.085,140.134 C7.471,140.134 3.731,136.387 3.731,131.765 L3.731,12.095 C3.731,7.474 7.471,3.727 12.085,3.727 L232.915,3.727 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M14.660,9.050 C17.588,9.050 19.961,11.426 19.961,14.359 C19.961,17.291 17.588,19.668 14.660,19.668 C11.732,19.668 9.359,17.291 9.359,14.359 C9.359,11.426 11.732,9.050 14.660,9.050 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M14.660,124.457 C17.588,124.457 19.961,126.834 19.961,129.766 C19.961,132.698 17.588,135.075 14.660,135.075 C11.732,135.075 9.359,132.698 9.359,129.766 C9.359,126.834 11.732,124.457 14.660,124.457 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M231.340,9.050 C234.268,9.050 236.641,11.426 236.641,14.359 C236.641,17.291 234.268,19.668 231.340,19.668 C228.412,19.668 226.039,17.291 226.039,14.359 C226.039,11.426 228.412,9.050 231.340,9.050 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M231.340,124.457 C234.268,124.457 236.641,126.834 236.641,129.766 C236.641,132.698 234.268,135.075 231.340,135.075 C228.412,135.075 226.039,132.698 226.039,129.766 C226.039,126.834 228.412,124.457 231.340,124.457 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M77.516,118.192 C82.122,118.192 85.856,121.945 85.856,126.574 C85.856,131.204 82.122,134.957 77.516,134.957 C72.910,134.957 69.177,131.204 69.177,126.574 C69.177,121.945 72.910,118.192 77.516,118.192 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M103.837,122.973 L106.069,122.973 C108.911,122.973 111.215,125.277 111.215,128.119 L111.215,128.134 C111.215,130.976 108.911,133.280 106.069,133.280 L103.837,133.280 C100.995,133.280 98.690,130.976 98.690,128.134 L98.690,128.119 C98.690,125.277 100.995,122.973 103.837,122.973 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M167.658,118.352 C163.051,118.352 159.317,122.098 159.317,126.720 C159.317,131.342 163.051,135.089 167.658,135.089 C172.265,135.089 176.000,131.342 176.000,126.720 C176.000,122.098 172.265,118.352 167.658,118.352 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M143.746,123.094 L136.794,123.094 C135.259,123.094 134.014,124.343 134.014,125.883 L134.014,130.626 C134.014,132.166 135.259,133.415 136.794,133.415 L143.746,133.415 C145.281,133.415 146.526,132.166 146.526,130.626 L146.526,125.883 C146.526,124.343 145.281,123.094 143.746,123.094 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M47.730,139.134 L57.755,111.402 L187.400,111.541 L197.410,139.273 "/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M167.763,45.796 C178.995,45.796 188.100,54.915 188.100,66.163 C188.100,77.411 178.995,86.530 167.763,86.530 C156.531,86.530 147.426,77.411 147.426,66.163 C147.426,54.915 156.531,45.796 167.763,45.796 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M77.547,45.796 C88.779,45.796 97.884,54.915 97.884,66.163 C97.884,77.411 88.779,86.530 77.547,86.530 C66.315,86.530 57.210,77.411 57.210,66.163 C57.210,54.915 66.315,45.796 77.547,45.796 Z"/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M149.278,55.110 L95.722,55.110 "/>
              <path fill-rule="evenodd" stroke-width="3px" stroke-linecap="round" stroke-linejoin="round" fill="none"
              d="M149.278,76.968 L95.722,76.968 "/>

            </g>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="25" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; top:55px; left:74px;" class="ma-para-1-spinner">
            <polygon fill="none" fill-rule="evenodd" stroke="#a656fb" stroke-width="2px" points="25,12.5 18.75,23.25 6.25,23.25 0,12.5 6.25,1.75 18.75,1.75" stroke-linecap="round" stroke-linejoin="round"></polygon>
          </svg>

          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="25" height="25" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; top:55px; left:146px;" class="ma-para-1-spinner">
            <polygon fill="none" fill-rule="evenodd" stroke="#609fff" stroke-width="2px" points="25,12.5 18.75,23.25 6.25,23.25 0,12.5 6.25,1.75 18.75,1.75" stroke-linecap="round" stroke-linejoin="round"></polygon>
          </svg>
        </div>
        <p class="ma-para-1">In the distant future, a museum was constructed, dedicated to a bygone era of human history. This museum had a single purpose. This purpose would be hidden, only accessible to those who were willing to discern its message.</p>
      </div>

      <div class="ma-para-welcome-block">
        <p class="ma-para-2" data-text="Welcome to the Morning Artifice museum!">Welcome to the Morning Artifice museum!</p>

        <div class="ma-para-3 curatorBlock dualFloatBlock dualFloatBlockLeft infoBlockBody">
          <div class="curator-image-block"><img src='/assets/images/cast/curator-beautiful.png'/><h3>CURATOR</h3></div>
          <div class="curator-text-block">
            <h3>CURATOR</h3>

            <p>My name is Curator Velvet, and you've entered the Museum of Morning Artifice - a construct dedicated to preserving the legacy of an ancient world.</p>

            <p>The Museum is more than a collection of trinkets and artifacts, curated by yours truly. It is designed to communicate a story about humanity, and will hopefully cause you to critically examine the human condition, especially with regards to its relationship with information technology.</p>

            <p>Perhaps it will even make you proud to be human.</p>

            <p>No flash photography.</p>

            <p>Now, please scroll down to the first exhibit...</p>

            <p>Oh, just one more thing! Please don't touch the <a href="javascript:void(0)" onclick="navigateSection('terminal')" class="ma-para-3-terminal">working terminal</a> in the workshop. It's a part of the Restored Devices exhibit that I've been working on for, well, ages... feel free to look at it, though. That's what it's there for!</p>
          </div>
        </div>

        <div class="homeContentScroll">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="83px" height="70px" stroke="white">
          <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
          d="M2.000,2.000 L41.000,41.000 L81.000,2.000 "/>
          <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
          d="M2.000,12.000 L41.000,51.000 L81.000,12.000 "/>
        </svg>
      </div>

    </div> <!-- end welcome-block -->

  </div>
</div>
</div>
</div>

                <!--<div class="homeContentBGWrapper parallax homeBG-stars"
                  data-parallax-type="b" 
                  data-parallax-speed="-0.5" 
                  data-parallax-offset="50%">
                <div class="homeContentBGWrapper parallax homeBG-curatorIntro"
                  data-parallax-type="b" 
                  data-parallax-speed="-0.4" 
                  data-parallax-offset="50%">

                <div class="homeContentSpacing homeContentScroll">
                  <svg 
                   xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink"
                   width="83px" height="70px" stroke="white">
                  <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                   d="M2.000,2.000 L41.000,41.000 L81.000,2.000 "/>
                  <path fill-rule="evenodd"  stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                   d="M2.000,12.000 L41.000,51.000 L81.000,12.000 "/>
                  </svg>
                </div>
                </div>
              </div>-->

              <div class="homeContentBGWrapper parallax homeBG-stars"
              data-parallax-type="b" 
              data-parallax-speed="-0.5" 
              data-parallax-offset="50%">
              <div class="homeContentBGWrapper parallax homeBG-pros"
              data-parallax-type="b" 
              data-parallax-speed="-0.4" 
              data-parallax-offset="50%">
              <div class="homeContentSpacing homeContentDialog hcd-prosthetic-soul">
                <div class="hcdReplace">
                  <div class="hcdReplaceContent">
                    <p></p>
                  </div>
                </div>
                <div class="hcdHeader">
                  <div class="hcdTitle"><p class="font-code-l"><span class="color-pros">pROs.TXT - </span>PROSTHETIC SOUL</p></div>
                  <div class="hcdIcon hcdIcon_interactive" tabindex="0" data-hcd="hcd-prosthetic-soul"></div>
                </div>
                <div class="hcdBody gridBG">
                  <div class="hcdBodyScroller hcdBodyScroller1 scroller-pros-1"></div>
                  <div class="hcdBodyScroller hcdBodyScroller2 scroller-pros-2"></div>
                  <div class="hcdCodeline"><p class="font-code">NXT <span class="color-slightlyDark hcdCodelinePara">IC22FG1238EQ921B49927130544444401</span></p></div>
                  <div class="hcdBodyContent">
                    <div class="hcdCorner hcdTopLeft"></div>
                    <div class="hcdCorner hcdTopRight"></div>
                    <div class="hcdCorner hcdBottomLeft"></div>
                    <div class="hcdCorner hcdBottomRight"></div>

                    <div class="hcdSVG hcdProstheticSoulSVG">
                      <div class="hcdSVGPulse">
                        <svg 
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="2.722in" height="2.722in">
                        <path class="hcdProsDiamond" fill-rule="evenodd" fill="rgb(2, 236, 244)"
                        d="M80.932,97.241 L97.896,80.254 L114.860,97.241 L97.896,114.227 L80.932,97.241 Z" />
                        <!-- <polygon points="50,0 100,50 50,100 0,50" /> -->
                      </svg>
                    </div>
                    <img class="hcdDesktopImage pulsing-color-image" src="/assets/images/centerpiece/prosthetic-soul_anim.png" />
                    <img class="hcdMobileImage pulsing-color-image" src="/assets/images/centerpiece/prosthetic-soul.png" />
                  </div> 
                  <div class="hcdDesc"><p>In the distant future, during one of many nameless conflicts among the interstellar descendants of Earth, a technology was perfected that could replace a person's morality with programmable ethics. It was called the <a href='#' class='infoTag common color-pros' data-info='prosthetic-soul' data-toggle='modal' data-target='#modalInfoTag'>prosthetic soul</a>.</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="homeContentBGWrapper parallax homeBG-stars"
        data-parallax-type="b" 
        data-parallax-speed="-0.5" 
        data-parallax-offset="50%">
        <div class="homeContentBGWrapper parallax homeBG-everyware"
        data-parallax-type="b" 
        data-parallax-speed="-0.4" 
        data-parallax-offset="50%">
        <div class="homeContentSpacing homeContentDialog hcd-everyware">
          <div class="hcdReplace">
            <div class="hcdReplaceContent">
              <p></p>
            </div>
          </div>
          <div class="hcdHeader">
            <div class="hcdTitle"><p class="font-code-l"><span class="color-everyware">everyware.TXT - </span>everyware</p></div>
            <div class="hcdIcon hcdIcon_interactive" tabindex="0" data-hcd="hcd-everyware"></div>
          </div>
          <div class="hcdBody gridBG">
            <div class="hcdBodyScroller hcdBodyScroller1 scroller-everyware-1 hcdRight"></div>
            <div class="hcdBodyScroller hcdBodyScroller2 scroller-everyware-2 hcdRight"></div>
            <div class="hcdCodeline"><p class="font-code">ERW <span class="color-slightlyDark hcdCodelinePara">IC22FG1238EQ921B49927130544444401</span></p></div>
            <div class="hcdBodyContent">
              <div class="hcdCorner hcdTopLeft"></div>
              <div class="hcdCorner hcdTopRight"></div>
              <div class="hcdCorner hcdBottomLeft"></div>
              <div class="hcdCorner hcdBottomRight"></div>

              <div class="hcdSVG hcdEverywareSVG">
                <div class="hcdSVGPulse">
                  <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="3.139in" height="2.847in">
                  <path class="hcdEverywareTopLine" fill-rule="evenodd"  stroke="rgb(255, 0, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                  d="M91.000,84.000 L132.000,84.000 "/>
                  <path class="hcdEverywareMiddleLine" fill-rule="evenodd"  stroke="rgb(255, 0, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                  d="M84.000,101.000 L139.000,101.000 "/>
                  <path class="hcdEverywareBottomLine" fill-rule="evenodd"  stroke="rgb(255, 0, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                  d="M91.000,118.000 L132.000,118.000 "/>
                </svg>
              </div>
              <img class="hcdDesktopImage pulsing-color-image" src="/assets/images/centerpiece/everyware_anim.png" />
              <img class="hcdMobileImage pulsing-color-image" src="/assets/images/centerpiece/everyware.png" />
            </div> 
            <div class="hcdDesc"><p style="margin-top: 27px; margin-bottom: 34px;">As cybertechnology became smaller and more widespread, computers took their ultimate role in the form of <a href='#' class='infoTag common color-everyware' data-info='everyware' data-toggle='modal' data-target='#modalInfoTag'>everyware</a>. Microchips reached true ubiquity in everything from knives to doors to roads. Code was no longer was a specialization - it became a second language, and a requirement for living in the new age.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="homeContentBGWrapper parallax homeBG-stars"
  data-parallax-type="b" 
  data-parallax-speed="-0.5" 
  data-parallax-offset="50%">
  <div class="homeContentBGWrapper parallax homeBG-kaizen"
  data-parallax-type="b" 
  data-parallax-speed="-0.4" 
  data-parallax-offset="50%">
  <div class="homeContentSpacing homeContentDialog hcd-kaizen">
    <div class="hcdReplace">
      <div class="hcdReplaceContent">
        <p></p>
      </div>
    </div>
    <div class="hcdHeader">
      <div class="hcdTitle"><p class="font-code-l"><span class="color-kaizen-dark">kaizen_ai.TXT - </span>kaizen AI</p></div>
      <div class="hcdIcon hcdIcon_interactive" tabindex="0" data-hcd="hcd-kaizen"></div>
    </div>
    <div class="hcdBody gridBG">
      <div class="hcdBodyScroller hcdBodyScroller1 scroller-kaizen-1"></div>
      <div class="hcdBodyScroller hcdBodyScroller2 scroller-kaizen-2"></div>
      <div class="hcdCodeline"><p class="font-code">KZNM <span class="color-slightlyDark hcdCodelinePara">IC22FG1238EQ921B49927130544444401</span></p></div>
      <div class="hcdBodyContent">
        <div class="hcdCorner hcdTopLeft"></div>
        <div class="hcdCorner hcdTopRight"></div>
        <div class="hcdCorner hcdBottomLeft"></div>
        <div class="hcdCorner hcdBottomRight"></div>

        <div class="hcdSVG hcdKaizenSVG">
          <div class="hcdSVGPulse">
            <svg 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="3.181in" height="2.75in">
            <defs>
              <clipPath id="diamondMask" style="transform: translate(-120px,-85px);">
                <path fill-rule="evenodd" class="hcdKaizenDiamondReverse" stroke="rgb(255, 255, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none" d="M113.000,111.000 L84.000,98.000 L113.000,84.000 L142.000,98.000 L113.000,111.000 Z"/>
              </clipPath>
            </defs>
            <path style="transform: translateX(20px);" fill-rule="evenodd" class="hcdKaizenDiamond" clip-path="url(#diamondMask)" fill="rgb(255, 255, 0)"
            d="M12.635,0.879 L24.756,13.000 L12.635,25.121 L0.515,13.000 L12.635,0.879 Z"/>
          </svg>
        </div>

        <img class="hcdDesktopImage pulsing-color-image" src="/assets/images/centerpiece/kaizen_anim.png" />
        <img class="hcdMobileImage pulsing-color-image" src="/assets/images/centerpiece/kaizen.png" />
      </div> 
      <div class="hcdDesc"><p style="margin-top: 27px; margin-bottom: 34px;">Artificial intelligence advanced far beyond expectations. Cloud-based services deployed by corporations and governments eventually replaced the white-collar, leaving behind niche professions and a growing grey-collar workforce. These hyper-intelligent expert systems, called <a href='#' class='infoTag common color-kaizen' data-info='kaizen' data-toggle='modal' data-target='#modalInfoTag'>kaizen</a>, would eventually integrate with everyware to become much more than what they were originally designed for.</p></div>
    </div>
  </div>
</div>
</div>
</div>

<div class="homeContentBGWrapper parallax homeBG-stars"
data-parallax-type="b" 
data-parallax-speed="-0.5" 
data-parallax-offset="50%">
<div class="homeContentBGWrapper parallax homeBG-slip"
data-parallax-type="b" 
data-parallax-speed="-0.4" 
data-parallax-offset="50%">
<div class="homeContentSpacing homeContentDialog hcd-slipstream">
  <div class="hcdReplace">
    <div class="hcdReplaceContent">
      <p></p>
    </div>
  </div>
  <div class="hcdHeader">
    <div class="hcdTitle"><p class="font-code-l"><span class="color-slipstream">slipstrim_ftl.TXT - </span>slipstream</p></div>
    <div class="hcdIcon hcdIcon_interactive" tabindex="0" data-hcd="hcd-slipstream"></div>
  </div>
  <div class="hcdBody gridBG">
    <div class="hcdBodyScroller hcdBodyScroller1 scroller-slipstream-1 hcdRight"></div>
    <div class="hcdBodyScroller hcdBodyScroller2 scroller-slipstream-2 hcdRight"></div>
    <div class="hcdCodeline"><p class="font-code">MBB <span class="color-slightlyDark hcdCodelinePara">IC22FG1238EQ921B49927130544444401</span></p></div>
    <div class="hcdBodyContent">
      <div class="hcdCorner hcdTopLeft"></div>
      <div class="hcdCorner hcdTopRight"></div>
      <div class="hcdCorner hcdBottomLeft"></div>
      <div class="hcdCorner hcdBottomRight"></div>

      <div class="hcdSVG hcdSlipstreamSVG">
        <div class="hcdSVGPulse">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="7.042in" height="3.889in">
          <path class="hcdSlipstreamBlink hcdSlipstream1" fill-rule="evenodd"  stroke="rgb(0, 136, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
          d="M84.212,102.087 L97.555,115.433 "/>
          <path class="hcdSlipstreamBlink hcdSlipstream2" fill-rule="evenodd"  stroke="rgb(0, 136, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
          d="M93.107,93.189 L106.451,106.535 "/>
          <path class="hcdSlipstreamBlink hcdSlipstream3" fill-rule="evenodd"  stroke="rgb(0, 136, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
          d="M102.003,84.291 L115.346,97.638 "/>
          <path class="hcdSlipstreamBlink hcdSlipstream4" fill-rule="evenodd"  stroke="rgb(0, 136, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
          d="M397.336,179.496 L410.679,192.843 "/>
          <path class="hcdSlipstreamBlink hcdSlipstream5" fill-rule="evenodd"  stroke="rgb(0, 136, 255)" stroke-width="4px" stroke-linecap="round" stroke-linejoin="round" fill="none"
          d="M406.231,170.598 L419.575,183.945 "/>
        </svg>
      </div>
      <img class="hcdDesktopImage pulsing-color-image" src="/assets/images/centerpiece/slipstream_anim.png" />
      <img class="hcdMobileImage pulsing-color-image" src="/assets/images/centerpiece/slipstream.png" />
    </div> 
    <div class="hcdDesc"><p style="margin-top: 27px; margin-bottom: 34px;">After centuries of interstellar rocketry, a laboratory accident turned the fantasy of faster-than-light transfer into a part of everyday life. Superluminal Interstellar Projection Stream, or <a href='#' class='infoTag common color-slipstream' data-info='slipstream' data-toggle='modal' data-target='#modalInfoTag'>SLIPSTREAM</a>, was supposed to bring the world closer together.</p></div>
  </div>
</div>
</div>
</div>
</div>

                <!--<div class="homeContentBGWrapper parallax homeBG-stars"
                  data-parallax-type="b" 
                  data-parallax-speed="-0.5" 
                  data-parallax-offset="50%">
                <div class="homeContentBGWrapper parallax homeBG-halfIntro"
                  data-parallax-type="b" 
                  data-parallax-speed="-0.4" 
                  data-parallax-offset="50%">
                <div class="homeContentSpacing homeContentWelcome scrollCheck fadeInCodeParas">
                  <p>Cybertechnology was honed as a tool of perfect oppression.</p>
                  <p>How could anyone resist something they didn't know was happening?</p>
                  <p>How does one defy a weapon designed in its entirety to target everything that makes you, you?</p>
                  <p>&nbsp;</p>
                  <p>The <span class="color-primaryAccent">new world order</span> emerged in a way no one expected.</p>
                </div>
                </div>
              </div>-->

              <div class="homeContentBGWrapper parallax homeBG-stars"
              data-parallax-type="b" 
              data-parallax-speed="-0.5" 
              data-parallax-offset="50%">
              <div class="homeContentBGWrapper parallax homeBG-halfIntro"
              data-parallax-type="b" 
              data-parallax-speed="-0.4" 
              data-parallax-offset="50%">
              <div class="homeContentSpacing scrollCheck fadeInCodeParas">
                <div class="ma-para-3 curatorBlock dualFloatBlock dualFloatBlockLeft infoBlockBody margin-center">
                  <div class="curator-image-block"><img src='/assets/images/cast/curator-beautiful.png'/><h3>CURATOR</h3></div>
                  <div class="curator-text-block">
                    <h3>CURATOR</h3>

                    <p>I'm supposed to say something here to break this long list of dialogs, but I couldn't figure out what to say. Just keep scrolling, I guess?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="homeContentBGWrapper parallax homeBG-stars"
          data-parallax-type="b" 
          data-parallax-speed="-0.5" 
          data-parallax-offset="50%">
          <div class="homeContentBGWrapper parallax homeBG-reset"
          data-parallax-type="b" 
          data-parallax-speed="-0.4" 
          data-parallax-offset="50%">
          <div class="homeContentSpacing homeContentDialog hcd-reset">
            <div class="hcdReplace">
              <div class="hcdReplaceContent">
                <p></p>
              </div>
            </div>
            <div class="hcdHeader">
              <div class="hcdTitle"><p class="font-code-l"><span class="color-reset">re.TXT - </span>reset</p></div>
              <div class="hcdIcon hcdIcon_interactive" tabindex="0" data-hcd="hcd-reset"></div>
            </div>
            <div class="hcdBody gridBG">
              <div class="hcdBodyScroller hcdBodyScroller1 scroller-reset-1"></div>
              <div class="hcdBodyScroller hcdBodyScroller2 scroller-reset-2"></div>
              <div class="hcdCodeline"><p class="font-code">HVL <span class="color-slightlyDark hcdCodelinePara">IC22FG1238EQ921B49927130544444401</span></p></div>
              <div class="hcdBodyContent">
                <div class="hcdCorner hcdTopLeft"></div>
                <div class="hcdCorner hcdTopRight"></div>
                <div class="hcdCorner hcdBottomLeft"></div>
                <div class="hcdCorner hcdBottomRight"></div>

                <div class="hcdSVG hcdResetSVG">
                  <div class="hcdResetButton"></div>
                  <div class="hcdSVGPulse hcd-reset-points"></div>
                  <img class="hcdDesktopImage" src="/assets/images/centerpiece/reset_anim.png" />
                  <img class="hcdMobileImage" src="/assets/images/centerpiece/reset.png" />
                </div> 
                <div class="hcdDesc"><p>With the emergence of a globalized, post-scarcity society, a doomed world order rooted in materialistic imperialism collapsed during the <a href='#' class='infoTag common color-reset' data-info='reset' data-toggle='modal' data-target='#modalInfoTag'>Reset</a>, giving way to a new system in which war was obsolete, ethics were a mere suggestion, and information became more relevant than commodities and products.</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="homeContentBGWrapper parallax homeBG-stars"
      data-parallax-type="b" 
      data-parallax-speed="-0.5" 
      data-parallax-offset="50%">
      <div class="homeContentBGWrapper parallax homeBG-pravo"
      data-parallax-type="b" 
      data-parallax-speed="-0.4" 
      data-parallax-offset="50%">
      <div class="homeContentSpacing homeContentDialog hcd-pravo">
        <div class="hcdReplace">
          <div class="hcdReplaceContent">
            <p></p>
          </div>
        </div>
        <div class="hcdHeader">
          <div class="hcdTitle"><p class="font-code-l"><span class="color-pravo">pravos.TXT - </span>pravo powers</p></div>
          <div class="hcdIcon hcdIcon_interactive" tabindex="0" data-hcd="hcd-pravo"></div>
        </div>
        <div class="hcdBody gridBG">
          <div class="hcdBodyScroller hcdBodyScroller1 scroller-pravo-1 hcdRight"></div>
          <div class="hcdBodyScroller hcdBodyScroller2 scroller-pravo-2 hcdRight"></div>
          <div class="hcdCodeline"><p class="font-code">PRV <span class="color-slightlyDark hcdCodelinePara">IC22FG1238EQ921B49927130544444401</span></p></div>
          <div class="hcdBodyContent">
            <div class="hcdCorner hcdTopLeft"></div>
            <div class="hcdCorner hcdTopRight"></div>
            <div class="hcdCorner hcdBottomLeft"></div>
            <div class="hcdCorner hcdBottomRight"></div>

            <div class="hcdSVG hcdPravoSVG">
              <div class="hcdSVGPulse hcd-pravo-icons-container">
                <div class="hcd-pravo-icons hcd-pravo-icons-1 hcd-pravo-1"></div>
                <div class="hcd-pravo-icons hcd-pravo-icons-2 hcd-pravo-2"></div>
                <div class="hcd-pravo-icons hcd-pravo-icons-3 hcd-pravo-3"></div>
                <div class="hcd-pravo-icons hcd-pravo-icons-4 hcd-pravo-4"></div>
              </div>
              <img class="hcdDesktopImage" src="/assets/images/centerpiece/pravo_anim.png" />
              <img class="hcdMobileImage" src="/assets/images/centerpiece/pravo.png" />
            </div> 
            <div class="hcdDesc"><p style="margin-top: 27px; margin-bottom: 34px;">From the chaos, four nations rose to power, taking advantage of new technologies and doctrines to place themselves and their ideologies ahead of each other on the interstellar stage. These self-aware regimes became known as the <a href='#' class='infoTag common color-pravo' data-info='pravo' data-toggle='modal' data-target='#modalInfoTag'>Pravo powers</a>.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="homeContentBGWrapper parallax homeBG-stars"
  data-parallax-type="b" 
  data-parallax-speed="-0.5" 
  data-parallax-offset="50%">
  <div class="homeContentBGWrapper parallax homeBG-attrition"
  data-parallax-type="b" 
  data-parallax-speed="-0.4" 
  data-parallax-offset="50%">
  <div class="homeContentSpacing homeContentDialog hcd-attrition">
    <div class="hcdReplace">
      <div class="hcdReplaceContent">
        <p></p>
      </div>
    </div>
    <div class="hcdHeader">
      <div class="hcdTitle"><p class="font-code-l"><span class="color-attrition">trrition.TXT - </span>attrition</p></div>
      <div class="hcdIcon hcdIcon_interactive" tabindex="0" data-hcd="hcd-attrition"></div>
    </div>
    <div class="hcdBody gridBG">
      <div class="hcdBodyScroller hcdBodyScroller1 scroller-attrition-1"></div>
      <div class="hcdBodyScroller hcdBodyScroller2 scroller-attrition-2"></div>
      <div class="hcdCodeline"><p class="font-code">TTR <span class="color-slightlyDark hcdCodelinePara">IC22FG1238EQ921B49927130544444401</span></p></div>
      <div class="hcdBodyContent">
        <div class="hcdCorner hcdTopLeft"></div>
        <div class="hcdCorner hcdTopRight"></div>
        <div class="hcdCorner hcdBottomLeft"></div>
        <div class="hcdCorner hcdBottomRight"></div>

        <div class="hcdSVG hcdAttritionSVG">
          <div class="hcdSVGPulse hcd-attrition-codelines"></div>
          <img class="hcdDesktopImage" src="/assets/images/centerpiece/attrition_anim.png" />
          <img class="hcdMobileImage" src="/assets/images/centerpiece/attrition.png" />
        </div> 
        <div class="hcdDesc"><p>Armed with the ability to program their troops, spies, and officials using the prosthetic soul; to destabilize their rivals using black operations; and to engineer their own societies en masse using kaizen; these nations would end up locked in spiteful rivalry, manifesting itself as a clandestine conflict known as the <a href='#' class='infoTag common color-attrition' data-info='attrition' data-toggle='modal' data-target='#modalInfoTag'>Attrition</a>.</p>

          <p>As the tension between the Pravo powers escalated, the ideals that they once stood for were slowly abandoned in favor of improving the effectiveness of their society. Free will and privacy eroded in favor of state security and brutal efficiency.</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homeContentBGWrapper parallax homeBG-stars"
data-parallax-type="b" 
data-parallax-speed="-0.5" 
data-parallax-offset="50%">
<div class="homeContentBGWrapper parallax homeBG-rift"
data-parallax-type="b" 
data-parallax-speed="-0.4" 
data-parallax-offset="50%">
<div class="homeContentSpacing homeContentDialog hcd-rift">
  <div class="hcdReplace">
    <div class="hcdReplaceContent">
      <p></p>
    </div>
  </div>
  <div class="hcdHeader">
    <div class="hcdTitle"><p class="font-code-l"><span class="color-rift">rf-.TXT - </span>Rift</p></div>
    <div class="hcdIcon hcdIcon_interactive" tabindex="0" data-hcd="hcd-rift"></div>
  </div>
  <div class="hcdBody gridBG">
    <div class="hcdBodyScroller hcdBodyScroller1 scroller-slipstream-1 hcdRight"></div>
    <div class="hcdBodyScroller hcdBodyScroller2 scroller-slipstream-2 hcdRight"></div>
    <div class="hcdCodeline"><p class="font-code">RFT <span class="color-slightlyDark hcdCodelinePara">IC22FG1238EQ921B49927130544444401</span></p></div>
    <div class="hcdBodyContent">
      <div class="hcdCorner hcdTopLeft"></div>
      <div class="hcdCorner hcdTopRight"></div>
      <div class="hcdCorner hcdBottomLeft"></div>
      <div class="hcdCorner hcdBottomRight"></div>

      <div class="hcdSVG hcdRiftSVG">
        <img class="hcdDesktopImage" src="/assets/images/centerpiece/rift_anim.png" />
        <img class="hcdMobileImage" src="/assets/images/centerpiece/rift.png" />
        <div class="hcdSVGPulse">
          <img src="/assets/images/centerpiece/rift_border.png" />
        </div>
      </div> 
      <div class="hcdDesc"><p>Meanwhile, bizarre anomalies discovered on the <a href='#' class='infoTag common color-rift' data-info='rift' data-toggle='modal' data-target='#modalInfoTag'>expanding frontiers</a> - starships from the future, derelict human civilizations, supernatural timeloops - began to bring everything about humanity's place among the stars into question.</p>
        <p>Nothing was the way it seemed.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="homeContentBGWrapper parallax homeBG-stars"
data-parallax-type="b" 
data-parallax-speed="-0.5" 
data-parallax-offset="50%">
<div class="homeContentBGWrapper parallax homeBG-halfIntro"
data-parallax-type="b" 
data-parallax-speed="-0.4" 
data-parallax-offset="50%">
<div class="homeContentSpacing scrollCheck fadeInCodeParas">
  <div class="ma-para-3 curatorBlock dualFloatBlock dualFloatBlockLeft infoBlockBody margin-center">
    <div class="curator-image-block"><img src='/assets/images/cast/curator-beautiful.png'/><h3>CURATOR</h3></div>
    <div class="curator-text-block">
      <h3>CURATOR</h3>

      <p>I'm sure you're enthralled by this fantastic museum. Information technology and space boogeymen, what more could one ask for?</p>

      <p>To continue, you'll have to choose one of the following two options.</p>

      <p>The <span style="color: #f0f;">Collection</span> is a tour touching upon many elements in the world of Morning Artifice, akin to a blog. Each Exhibition within the Collection is a uniquely crafted experience.</p>

      <p>The <span style="color: #0ff;">Experience</span> is a placeholder link to a subsection which provides insight into the Morning Artifice board game.</p>                      
    </div>
  </div>
</div>
</div>
</div>

<div class="homeContentBGWrapper parallax homeBG-stars"
data-parallax-type="b" 
data-parallax-speed="-0.5" 
data-parallax-offset="50%">
<div class="homeContentBGWrapper parallax homeBG-halfIntro"
data-parallax-type="b" 
data-parallax-speed="-0.4" 
data-parallax-offset="50%">
<div class="homeContentSpacing scrollCheck link-block-row">

  <!-- Chronicle Linkblock -->
  <div class="link-block-total-container link-block-chronicle link-block-bubbles">
    <p class="link-block-total-tag"><span class="link-block-color"\> LINKBLOCK //</span> CLICK TO VISIT<span class="blinkingScore link-block-color">_</span></p>
    <a class="divLink link-block" href="/chronicle/" target="_self">
      <div class="link-block-container quotebubbles">
        <div class="link-block-inset">
          <div class="link-block-text">
            <p>Chronicle</p>
          </div>
          <div class="link-block-arrow">
            <svg width="10px" height="10px" xml:space="preserve" _v-978818ec=""> <polygon fill="#fff" points="3.6,5 0,1.4 1.4,0 5,3.6 6.4,5 5,6.4 1.4,10 0,8.6 " _v-978818ec=""></polygon></svg>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- Codex Linkblock -->
  <div class="link-block-total-container link-block-codex">
    <p class="link-block-total-tag"><span class="link-block-color"\> LINKBLOCK //</span> CLICK TO VISIT<span class="blinkingScore link-block-color">_</span></p>
    <a class="divLink link-block" href="/codex/" target="_self">
      <div class="link-block-container quoteshuffle quoteBright">
        <div class="link-block-inset">
          <div class="link-block-text">
            <p>Codex</p>
          </div>
          <div class="link-block-arrow">
            <svg width="10px" height="10px" xml:space="preserve" _v-978818ec=""> <polygon fill="#fff" points="3.6,5 0,1.4 1.4,0 5,3.6 6.4,5 5,6.4 1.4,10 0,8.6 " _v-978818ec=""></polygon></svg>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>
</div>
</div>

</div>
</div>