<div class="row paddingTopBottom" id="{{ item.init.id }}">
  <div class="col-md-0 col-lg-2"></div>
  <div class="statBlock {% if item.init.no_border %}{% else %}statBlockBorder{% endif %} col-md-12 col-lg-8">
    <div class="statBlockHead">
      <h1 class="bodyTitle colorMinke">{{ item.init.title }}</h1>
      {% if item.init.desc_color %}
      <p class="statBlockContent font-code" style="color: {{ item.init.desc_color }};">{{ item.init.desc }}</p>
      {% else %}
      <p class="statBlockContent font-code" style="color: {{ page.page_highlight }};">{{ item.init.desc }}</p>
      {% endif %}
    </div>
    <div class="statBlockContainer">

      {% for dataItem in item.init.data %}
      <div class="statBlockBody">
        {% if item.init.desc_color %}
        <div class="statBlockBodyChild" style="color: {{ item.init.desc_color }};">
          <p class="statBlockContentChildH font-code">{{ dataItem[0] }}</p>
        </div>
        {% else %}
        <div class="statBlockBodyChild" style="color: {{ page.page_highlight }};">
          <p class="statBlockContentChildH font-code">{{ dataItem[0] }}</p>
        </div>
        {% endif %}
        <div class="statBlockBodyChild"></div>
        <div class="statBlockBodyChild">
          <p class="statBlockContentChild">{{ dataItem[1] }}</p>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
  <div class="col-md-0 col-lg-2"></div>
</div>