---
layout: blank_page
---

<!doctype>
<html lang="en">
  <head>
    <!-- Basic meta setup -->
    <meta charset="utf-8">
    <meta name="theme-color" content="#222" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="revisit-after" content="5 days">

    <!-- Side brand Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Site brand Color -->
    <meta name="theme-color" content="#ffffff">

    <!-- Page variables -->
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ page.author }}">
    <meta name="description" content="{{ page.excerpt }}">
    <meta name="og:image" content="{{ page.image }}" /> 

    <!--     jQuery: Terminal     -->
    <!--    The plugin that operates the terminal component.     -->
    <link rel="stylesheet" href="{% link assets/css/jQuery-terminal/jquery.terminal.css %}">

    <!--    jQuery: Magnific Popup   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!--     Bootstrap Core     -->
    <!--     For setting up page layouts.     -->
    <link href="{% link assets/css/bootstrap/bootstrap.min.css %}" rel="stylesheet">

    <!--     Web Fonts     -->
    <!--     Adds the site fonts.     -->
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,800" rel="stylesheet">

    <!--     Custom Styles     -->
    <!--     Adds my site styles.     -->
    <link href="{% link assets/css/style.scss %}" rel="stylesheet">

    {% if page.type == "search" %}

      <link href="{% link assets/css/search.scss %}" rel="stylesheet">

    {% endif %}

    <!--     Normalize     -->
    <!--     Adds cross-browser consistency and fixes some bugs.     -->
    <link href="{% link assets/css/normalize/normalize.css %}" rel="stylesheet">

  </head>
  <body class="codex" id="body" tabindex="-1">

    <div class="pageHighlight" style="color: {{ page.page_highlight }};"></div>
    <div id="siteContainer" class="siteContainer color-primary-l">

      <!--     Contains the site, which is pushed when the nav is opened.     -->
      <div id="contentContainer" class="contentContainer">

        <!--     Includes the header at the top of the site.     -->
        {% include header.html %}

        {% for item in page.page_features %}

          <!-- codexHead: Top component of codex pages. -->
          {% if item.type == "codexHead" %}

            {% include components/codexHead.html %}

          <!-- searchPageContent: Search page content. -->
          {% elsif item.type == "searchPageContent" %}

            {% include components/searchPageContent.html %}

          <!-- collectionPageContent: Collection page content. -->
          {% elsif item.type == "collectionPageContent" %}

            {% include components/collectionPageContent.html %}

          <!-- homePageContent: Content of home page (dialogs, etc). -->
          {% elsif item.type == "homePageContent" %}

            {% include components/homePageContent.html %}

          <!-- homePageBanner: Top component of home page (main logo). -->
          {% elsif item.type == "homePageBanner" %}

            {% include components/homePageBanner.html %}

          {% elsif item.type == "wikiHead" %}

            {% include components/wikiHead.html %}

          {% elsif item.type == "sitemap" %}

            <div id="{{ item.init.id }}" class="row">
              <div class="col-md-12 col-lg-2"></div>
              <div class="col-md-12 col-lg-8 sitemap"></div>
              <div class="col-md-12 col-lg-2"></div>
            </div>

          {% elsif item.type == "parallaxBlock" %}

            {% include components/parallaxBlock.html %}

          {% elsif item.type == "imageBlock" %}

            {% include components/imageBlock.html %}

          {% elsif item.type == "stripesBar" %}

            {% include components/stripesBar.html %}

          {% elsif item.type == "headingBar" %}

            {% include components/headingBar.html %}

          {% elsif item.type == "paddingBar" %}

            <div class="" style="padding-top: {{ item.init.size }};"></div>

          {% elsif item.type == "infoSheet" %}

            {% include components/infoSheet.html %}

          {% elsif item.type == "infoBlock" %}

            {% include components/infoBlock.html %}

          {% elsif item.type == "videoBlock" %}

            <!-- TODO -->

          {% elsif item.type == "scrollerBlock" %}

            {% include components/scrollerBlock.html %}

          {% elsif item.type == "nationBannerBlock" %}

            {% include components/nationBannerBlock.html %}

          {% elsif item.type == "galleryBlock" %}

            {% include components/galleryBlock.html %}

          {% endif %}

        {% endfor %}

        <!--     Contains whatever content is templated into the page.     -->
        {{ content }}

        <!--     Includes the footer at the end of the site.     -->
        {% include footer.html %}

      </div>
    </div>
    <div id="dimDiv" class="dimDiv" onclick="outsideClick()"></div>
    <div id="navContainer" class="navContainer color-primary">

      <!--     Includes the navigation menu on the side of the site.     -->
      {% include nav.html %}

    </div>

    <div id="navContainerMobile" class="navContainerMobile color-primary">

      <!--     Includes the navigation menu on the side of the site.     -->
      {% include navMobile.html %}

    </div>

    <div class="appendNavElements"></div>

    <div id="menuBarContainer" class="menuBarContainer color-primary" onclick="manipNav()">

      <div class="menuBarFlex">
        <div class="menuBarChild menuBarLogo spinning-logo-d1"></div>
        <div class="menuBarChildMenu">
          <svg class="menuBarArrow menuBarArrowRight" x="0px" y="0px" viewBox="0 0 6.4 10" xml:space="preserve" _v-978818ec=""> <polygon fill="#fff" points="3.6,5 0,1.4 1.4,0 5,3.6 6.4,5 5,6.4 1.4,10 0,8.6 " _v-978818ec=""></polygon></svg>

          <p class="font-code" id="menuBarLabel">Menu</p>

          <svg class="menuBarArrow menuBarArrowLeft" x="0px" y="0px" viewBox="0 0 6.4 10" xml:space="preserve" _v-978818ec=""> <polygon fill="#fff" points="3.6,5 0,1.4 1.4,0 5,3.6 6.4,5 5,6.4 1.4,10 0,8.6 " _v-978818ec=""></polygon></svg>
        </div>
        <div class="menuBarChildText">
          <p class="font-code">Contemporary Cyberpunk<span class="blinkingScore">_</span></p>
        </div>
      </div>

      <div class="imagePreload">
        <div class="spinning-logo-d1"></div>
        <div class="spinning-logo-d2"></div>
        <div class="spinning-logo-d3"></div>
        <div class="spinning-logo-d4"></div>
        <div class="spinning-logo-d5"></div>
        <div class="spinning-logo-d6"></div>
        <div class="spinning-logo-d7"></div>
        <div class="spinning-logo-d8"></div>
        <div class="spinning-logo-d9"></div>
        <div class="spinning-logo-d10"></div>
        <div class="spinning-logo-d11"></div>
        <div class="spinning-logo-d12"></div>
        <div class="spinning-logo-d13"></div>
      </div>

    </div>
    <div class="menuBarContainerMobile color-primary">

      <div class="menuBarFlexMobile">
        <div class="menuBarChildMobile menuBarLogoMobile"></div>
        <div class="menuBarChildMobile headerTitleMobile font-code-l">
          <a href="/" class="headerLink headerHub">morning artifice</a>
        </div>
        <a href="javascript:void(0)" class="menuBarChildMobile menuBarChildMenuMobile" onclick="manipNav()">
          <p class="font-code-l">Menu</p>
        </a>
      </div>

    </div>

    {% include infoTagModal.html %}

    <!--     jQuery     -->
    <!--     The jQuery library.     -->
    <script src="{% link assets/js/jQuery/jquery-3.3.1.min.js %}"></script>

    <script src="{% link assets/js/jQuery-terminal/jquery.terminal.min.js %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <script src="{% link assets/js/bootstrap/bootstrap.min.js %}"></script>

    <!--     Custom Data     -->
    <!-- Script: Loads data into global namespace variables  -->
    <script src="{% link assets/js/site/data/site-data.js %}"></script>

    <script src="{% link assets/js/site/site-animateHome.js %}"></script>

    <!--     Custom Scripts     -->
    <!-- Script: Provides image source reference data -->
    <script src="{% link assets/js/site/site-svgref.js %}"></script>
    <!-- Script: Provides navigation generation -->
    <script src="{% link assets/js/site/site-nav.js %}"></script>
    <!-- Script: Provides site terminal handler -->
    <script src="{% link assets/js/site/site-terminal.js %}"></script>
    <!-- Script: Provides codex page specific code -->
    <script src="{% link assets/js/site/site-codexPage.js %}"></script>
    <!-- Script: Provides infotag functionality (link modals) -->
    <script src="{% link assets/js/site/site-infotag.js %}"></script>
    <!-- Script: Provides parallaxing functionality -->
    <script src="{% link assets/js/site/site-parallax.js %}"></script>

    {% if page.type == "search" %}
      <script src="{% link assets/js/site-search/SimpleJekyllSearch.js %}"></script>
      <script src="{% link assets/js/site/site-search.js %}"></script>
    {% endif %}

    <script>
      $(document).ready(function() {
        $('.image-popup-no-margins').magnificPopup(
        {
          type: 'image',
          fixedContentPos: false,
          closeOnContentClick: true,
        }
        );
      });
    </script>

  </body>
</html>